# build output
build/

# QtCreator user files
*.pro.user
*.pro.user.*
*.qtc_clangd/
*.qmlc

# object/exe
*.o
*.obj
*.exe
*.dll
*.a
*.lib

# generated ui / moc / rcc
ui_*.h
moc_*.cpp
moc_*.h
qrc_*.cpp
